// Text colors
$primaryColor: black;
$secondaryColor: white;

// Background colors
$primaryBgColor: white;
$secondaryBgColor: #d4d7c6;
$thirdBgColor: black;

// Color opacity
$primaryColorOpacity: rgba(250, 250, 250, 0.7);
$secondaryBgColorOpacity: rgba(212, 215, 198, 0.6);
$secondaryBgColorOpacityDarker: rgba(212, 215, 198, 0.8);

// Text shadow
$primaryTextShadowColor: #383838;
